*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: slateblue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 100svh;
    font-family: sans-serif;
}
.icon{
    font-size: clamp(1.5rem, 4vw, 2rem);
}
.counter{
    font-size: clamp(1.5rem, 4vw, 2rem);
}
.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 0.6rem;
}
.counter-container span{
    letter-spacing: 4px;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    body{
        flex-direction: column;
        gap: 2rem;
    }
    .counter-container span{
        font-size: clamp(12px, 2vw, 16px);
    }
}
